<div class="text-center">
    <h1 class="display-4">HypeHaven</h1>
    <h2>The most hyped marketplace for niche clothing</h2>
    <div class="d-flex justify-content-center mt-5">
        <div class="btn-group" role="group">
            <a class="btn btn-primary btn-lg mr-3" href="@Url.Action("Index", "Brand")">Browse Brands</a>
            <a class="btn btn-secondary btn-lg" href="@Url.Action("Index", "Product")">Browse Products</a>
        </div>
    </div>
</div>
