@*@page
@model HypeHaven.Areas.Identity.Pages.Account.ChooseRoleModel
@{
    ViewData["Title"] = "Choose Role";
}

<div class="text-center">
    <h1 class="display-4">Choose Your Role</h1>
</div>

<div class="row">
    <div class="col-md-4 offset-md-4">
        <form method="post">
            <div class="form-group">
                <label asp-for="Input.Role"></label>
                <select asp-for="Input.Role" class="form-control" aria-required="true">
                    <option value="vendor">Business Owner</option>
                    <option value="customer">Customer</option>
                </select>
                <span asp-validation-for="Input.Role" class="text-danger"></span>
            </div>
            <button type="submit" class="btn btn-primary">Submit</button>
        </form>
    </div>
</div>
*@