<h1>Order Failed</h1>
<p>Sorry, there was an issue with processing your order. Please try again or contact support for assistance.</p>
<br />
<a asp-action="Index" asp-controller="Home" class="btn btn-primary">Back to the Shop</a>