<h1>Order Confirmed</h1>
<p>Your order has been successfully confirmed. Thank you for your purchase.</p>
<br />
<a asp-action="Index" asp-controller="Home" class="btn btn-primary">Back to the Shop</a>
