body {
    background-color: #282c30;
    font-family: Arial, sans-serif;
    color: #fff;
}

h1 {
    font-size: 2rem;
    text-align: left;
    margin-top: 5rem;
}

.btn-primary {
    display: block;
    margin: 3rem auto;
    background-color: #fff;
    color: #282c30;
    border: none;
    text-transform: uppercase;
    letter-spacing: 2px;
    font-size: 1.5rem;
    padding: 1rem 2rem;
    transition: background-color 0.3s ease-in-out;
}

    .btn-primary:hover {
        background-color: #3a3e42;
        color: #fff;
    }
